

body{
  background: radial-gradient(ellipse at top, #47e89f, transparent),
            radial-gradient(ellipse at bottom, #6624d8, transparent);
  height:100vh;
}

.txt{
  font-family: Papyrus, fantasy; 
  font-size: 66px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
  color:#d639d0;
  margin-top:20px;
}

.skew{
  -webkit-transform:skew(0deg, -5deg);
          transform:skew(0deg, -5deg);
  background:#e78ee9;
  height:200px;
  width:100%;
  overflow:hidden;
}

.unskew{
  -webkit-transform:skew(0deg, 5deg);
          transform:skew(0deg, 5deg);
  //background:url(https://static.pexels.com/photos/457044/pexels-photo-457044.jpeg);
}

.collage{
  margin:0px 0px 80px 0px;
  box-shadow: 0 3px 46px rgba(0,0,0,0.16), 0 3px 36px rgba(0,0,0,0.23);
  border:2px solid white;
}

.image{
  height:250px;
  border-left:2px solid white;
}

.image1{
  background:url('./pug_glasses.jpg');
  background-size:cover;
  
}

.image2{
  background:url('./science.jpg');
  background-size:cover;
  position:relative;
  bottom:20px;
}

.image3{
  background:url('./pug_glasses_woke.jpg');
  background-size:cover;
  position:relative;
  bottom:55px;
}

