body {
     font-family: "Mulish";
     background-color: FloralWhite;
}

a {
  color: CadetBlue;
}

.social {
    width:36px;
    height:36px;
    padding-left: 6px;
    padding-right: 6px;

}

@font-face {
  font-family: "Glow Better Script";
  font-style: normal;
  font-weight: normal;
  src: local("../assets/Glow Better Script"),
    url("../assets/Glow Better Script.otf") format("truetype");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: normal;
  src: local("../assets/Mulish-Regular.ttf"),
    url("../assets/Mulish-Regular.ttf") format("truetype");
}


.sub-heading {
    font-size: 48px;
    text-align: center;
    font-family: "Glow Better Script";

}


#navigation {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: red;*/
    width: 20vw;
    height: 100%;
    text-align: right;
    padding: 16px;
    z-index: 8;
}

.nav_option {

    list-style: none;
    margin-top: 16px;
    font-size: 32px;
/*    font-family: "Luminari", fantasy, serif;*/
}

.nav_link {
    color: black !important;
    text-decoration: none !important;

}

#selected{
    color: CadetBlue !important;
}

.nav_link:hover {
    font-style: italic;
    
}



table.portfolio {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

table.portfolio tr {}

td.image {
    height: 310px;
    width: 320px;

    background-repeat: no-repeat;
    

}

td.image:hover {
    

}

td.desc {


    padding-top: 0.5em;
    padding-bottom: 0.75em;
    vertical-align: top;
    width: 25em;

}

td.odd,
td.odd p,
td.odd h3 {
    padding-left: 0;
    margin-left: 0;
    /*text-align:right;*/
}

td.even,
td.even p,
td.even h3 {
    padding-right: 0.25em;
    padding-left: 0.25em;
    margin-right: 0.25em;
}

table.portfolio td.desc p.desc {
    font-size: 16px;
}

table.portfolio td.desc p.desc {
    letter-spacing: 0.1px;
    line-height: 1.3em;
}

table.portfolio h3 {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

table.portfolio p.date {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
}

table.portfolio tr.spacer {
    height: 2em;
}
