p {
color: brown
}

h1 {
font-size: 4em;
font-family: Jokerman, Zapfino, Palatino, serif;
}

h2 {
font-family: Lithos Pro, serif;
}

body {
margin-top: 1em;
margin-botton: 5em;
margin-left: 5em;
background: url(tinybaby.jpg) no-repeat;
background-size: 100%;
background-attachment: fixed;
}

img {
width: 62%;
}

.typewriter {
font-family: Courier, monospace;
}

.embarrassing {
font-family: Comic Sans MS, serif;
}

mark {
    background-color: #FF99CC;
    color: #660099;
}

#mainimage {
border: 5px solid brown;
}