body {
  font-family: 'Papyrus', monospace;
  font-weight: 300;
  transform: skew(-1deg); /* Standard syntax */
}

header {
  font-family: monospace;
  padding: 20px 0;
  transform: rotate(-0.9deg);
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 1000;
  margin: 0;
}

header h3 {
  font-weight: 900;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: stretch;
  align-items: center;
  background-image: url('http://www.rgbstock.com/cache1urPQS/users/m/mz/mzacha/300/o36Yhn8.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 3px 7.25px 5.25px #000000;
  transform: skew(2deg); /* Standard syntax */
  box-shadow: -5px -5px 20px 10px #D6EBFF;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
  
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
  transform: scale(2, 3);
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
  
}

.col-md-6 {
  margin: 0 0 30px;
}



.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
  transform: skewY(10deg);
}

div#myDiv {
    width: 130px;
    height: 60px;
    padding: 20px;
    background-color: #DEEFFF;
    border: 5px solid red;
    border-radius: 40px;
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-20deg); /* Standard syntax */
}

.image {
    -webkit-animation:spin 237.4s linear infinite;
    -moz-animation:spin 237.4s linear infinite;
    animation:spin 237.4s linear infinite;
    border-radius: 160px;
    box-shadow: 8px 4px 15px 20px #B99177;
}

h2 {
    text-shadow: 30px 8px 60px rgb(204, 204, 204), 3px 7px 2px rgb(201, 201, 201), 4px 9px 6px rgb(187, 187, 187), 0px 14px 0px rgb(185, 185, 185), 0px 5px 10px rgb(170, 170, 170), 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 5px 10px rgba(0, 0, 0, 0.25), 0px 20px 20px rgba(0, 0, 0, 0.15);
}
h2 {
  color: rgb(51, 51, 51);
	font-family: "Comic Sans MS",Impact,sans-serif;
	line-height: 0.9em;
	letter-spacing: 0.02em;
	text-transform: uppercase;
  margin: 2em auto;
  text-align: center;
  box-shadow: 0 10 15px 10px #DEEFFF;
  border-radius: 60px;
}
h2 {
  font-size: 3.77em;
}

h3 {
  color: #FFE4B5;
  animation: move linear 30000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      14px -4px 0 hsl(60,  100%, 50%), 
      23px -3px 0 hsl(90,  100%, 50%), 
      2px -42px 0 hsl(120, 100%, 50%), 
      1px -11px 0 hsl(150, 100%, 50%),
      -54px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 23px 0 hsla(170, 100%, 50%, 1), 
      -212px 2px 0 hsla(160, 100%, 50%, 1), 
      -1px 41px 0 hsla(150, 100%, 50%, 1)
    ;
    transform: skewX(-40deg);
  }
  25% {    
    text-shadow:      
      -34px -4px 0 hsl(300, 100%, 50%), 
      -3px -53px 0 hsla(280, 100%, 50%, 1), 
      -32px -2px 0 hsl(210, 100%, 50%), 
      -31px -1px 0 hsla(190, 100%, 50%, 1),
      4px 244px 0 hsla(10, 100%, 50%, 1), 
      3px 13px 0 hsla(20, 100%, 50%, 1), 
      32px 2px 0 hsla(30, 100%, 50%, 1), 
      1px 21px 0 hsla(40, 100%, 50%, 1)      
    ;
    transform: scale(5, 0.4);
  }
  50% {
    text-shadow:
      -4px 14px 0 hsla(50, 100%, 50%, 1), 
      -3px 323px 0 hsla(60, 100%, 50%, 1), 
      -2px 22px 0 hsla(70, 100%, 50%, 1), 
      -21px 1px 0 hsla(80, 100%, 50%, 1),
      34px -4px 0 hsla(100, 100%, 50%, 1), 
      3px -13px 0 hsla(110, 100%, 50%, 1), 
      2px -32px 0 hsla(120, 100%, 50%, 1), 
      11px -1px 0 hsla(130, 100%, 50%, 1)
    ;
    transform: rotate(20deg); /* Standard syntax */
  }
  75% {
    text-shadow:
      44px 4px 0 hsla(280, 100%, 50%, 1), 
      23px 3px 0 hsla(290, 100%, 50%, 1), 
      2px 12px 0 hsla(300, 100%, 50%, 1), 
      1px 31px 0 hsla(310, 100%, 50%, 1),
      -214px -4px 0 hsl(270, 100%, 50%), 
      -43px -3px 0 hsl(300, 100%, 50%), 
      -22px -2px 0 hsl(330, 100%, 50%), 
      -1px -41px 0 hsl(360, 100%, 50%)      
    ;
    transform: skewY(50deg);
  }
  100% {
    text-shadow:
      24px -4px 0 hsla(90, 100%, 50%, 1), 
      3px -13px 0 hsla(100, 100%, 50%, 1), 
      22px -2px 0 hsla(110, 100%, 50%, 1), 
      1px -1px 0 hsla(120, 100%, 50%, 1),
      -44px 4px 0 hsla(360, 100%, 50%, 1), 
      -313px 3px 0 hsla(350, 100%, 50%, 1), 
      -2px 42px 0 hsla(340, 100%, 50%, 1), 
      -1px 11px 0 hsla(330, 100%, 50%, 1)
    ;
    transform: skew(20deg, 10deg);
  }  
}


h4 {
    text-shadow: 1px 0px 2px rgb(170, 170, 170), 1px 1.19025px 2px rgb(34, 34, 34), 2px 1.19025px 2px rgb(170, 170, 170), 2px 2.3805px 2px rgb(34, 34, 34), 4px 0px 3px rgba(33, 36, 39, 0.11), 3.1522px 1.19025px 3px rgba(33, 36, 39, 0.1), 2.3044px 2.3805px 3px rgba(33, 36, 39, 0.094), 1.4566px 3.57075px 3px rgba(33, 36, 39, 0.086), 0.6088px 4.761px 3px rgba(33, 36, 39, 0.08), -0.239px 5.95125px 3px rgba(33, 36, 39, 0.075), -1.0868px 7.1415px 3px rgba(33, 36, 39, 0.07), -1.9346px 8.33175px 3px rgba(33, 36, 39, 0.067), -2.7824px 9.522px 3px rgba(33, 36, 39, 0.06), -3.6302px 10.7122px 3px rgba(33, 36, 39, 0.055), -4.478px 11.9025px 3px rgba(33, 36, 39, 0.05), -5.3258px 13.0928px 3px rgba(33, 36, 39, 0.043), -6.1736px 14.283px 3px rgba(33, 36, 39, 0.04), -7.0214px 15.4733px 3px rgba(33, 36, 39, 0.035), -7.8692px 16.6635px 3px rgba(33, 36, 39, 0.03), -8.717px 17.8538px 3px rgba(33, 36, 39, 0.024);
    -moz-transition-duration: 0s;
}
h4 {
  font-size: 60px;
  font-family: Impact,sans-serif;
  font-weight:bold;
  color: rgb(51, 51, 51);
 -webkit-transition: text-shadow 5s cubic-bezier(0.665, 0, 0.43, 1);
  -moz-transition: text-shadow 5s cubic-bezier(0.665, 0, 0.43, 1);
  -o-transition: text-shadow 5s cubic-bezier(0.665, 0, 0.43, 1);
  -ms-transition: text-shadow 5s cubic-bezier(0.665, 0, 0.43, 1);
  transition-transition: text-shadow 5s cubic-bezier(0.665, 0, 0.43, 1);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: -5px -5px 5px 5px #888;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.text-effect {
  overflow: hidden;
  position: relative;
  
  filter: contrast(210%) brightness(90%);
}

.neon {
  
  background: #000080;
  
  color: transparent;
  
  &::before,
  &::after {
    // Add two copies of the text on their own layer
    content: attr(data-text);
    
    color: #B28564;
    
    filter: blur(6.5em);
    
    position: absolute;
    top: 0; left: 0;
    pointer-events: none;
  }
  
  &::after {
    mix-blend-mode: difference;
  }
}

.gradient,
.spotlight {
  position: absolute;
  top: 4; left: 2; bottom: 9; right: 7;
  pointer-events: none;
  z-index: 88;  
  
  transform: rotate(10deg); /* Standard syntax */
}

.gradient {
  background: linear-gradient(88deg, $color1, $color2);
  
  mix-blend-mode: multiply;
}

.spotlight {
  animation: light 0.5s infinite linear;
  
  background: 
    radial-gradient(circle, #C8E3FF, transparent 30%) 0 0 / 21% 33%, 
    radial-gradient(circle, #DFF0FF, #A98064 40%) 50% 50% / 12.5% 12.5%;
  top: -90%; left: -88%;
  
  mix-blend-mode: color-dodge;
}

@keyframes light {
  100% {
    transform: translate3d(41%, 69%, 0);
    transform: skewX(0.23deg); /* Standard syntax */
    transform: skewY(6deg); /* Standard syntax */
  }
}


.neon {
  font: 700 99px Georgia, Garamond, serif;
  font-stretch: ultra-expanded;
  text-align: center;
  margin: 0;
  -webkit-animation:pulse 11.5s ease-in-out infinite alternate;
  -webkit-backface-visibility: hidden;

  transform: rotate(4deg); /* Standard syntax */
  transform: skewX(3deg); /* Standard syntax */
  transform: skewY(-0.6deg); /* Standard syntax */
  
  &:focus { outline: none; border: 500px dotted #946B4D; }
}

body {
  background: hsla(0, 0%, 0%, .9); 
}

@-webkit-keyframes pulse {
  from {
    text-shadow: 0 0 0.05px #FFF8DC,
               0 0 0.10px #FFEBCD,
               0 0 0.15px #FFE4C4,
               0 0 0.20px #FFDEAD,
               0 0 0.25px #F5DEB3,
               0 0 0.30px #DEB887,
               0 0 0.35px #D2B48C,
               0 0 0.40px #BC8F8F;
  }
  to {
    text-shadow: 0 0 2px #F4A460,
               0 0 4px #DAA520,
               0 0 16px #B8860B,
               0 0 4px #CD853F,
               0 0 2px #D2691E,
               0 0 4px #8B4513,
               0 0 16px #A0522D,
               0 0 4px #800000;
  }