@import "compass/css3";

$perspective:2000px;
$scale: 0.75;
$rotationX: 31deg;
$rotationY: 8deg;
$rotationZ: 2deg;

$steps:2; //has to match js

$blur-deviation:0.4;
$color:black;

html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url('http://68.media.tumblr.com/e996efbd47d78decb83fef31ba269aa6/tumblr_inline_nsy19o8TQF1rpf997_1280.jpg');
  background-position: center top;
  background-size:100%;
  margin: 0;
}

.realistic{
  color:$color;
  font-family:Georgia, Baskerville, serif;
  font-size:29px;
  position:absolute;
  top:-300px;
  //top:-200px;
  left:0;
  //-webkit-filter:contrast(7);
  opacity:1/(($steps*2));
  transform-origin:39% 600px; 
  max-width:800px;
  transform: scale($scale,$scale) perspective($perspective) rotateY($rotationY) rotateX($rotationX); 
  text-shadow:0 0 3px transparentize($color,0.4),0 0 1px transparentize($color,0.8);
  text-align:justify;
  padding-right:50%;
}
p{
  text-indent:60px;
  margin: 2px;
  text-align: justify;
  padding: 10px;
}
h1{
    padding-top: 80px;
    text-align: center;
    font-weight:normal;
    font-size:100px;
    margin: 20px;
}
.realistic.blur{
  pointer-events:none;
}
$transform:scale($scale,$scale) perspective($perspective);
$step:$blur-deviation/$steps;
@for $i from 1 through $steps{
  $cur:$step*($i);
  .realistic.blur-top:nth-child(#{$i}){
    transform: $transform rotateY($rotationY + $cur) rotateX($rotationX + $cur);
  }
  .realistic.blur-bottom:nth-child(#{$i}){
    transform: $transform rotateY($rotationY - $cur) rotateX($rotationX - $cur);
  }
}
.realistic.blur1{
  transform: scale($scale,$scale) perspective($perspective) rotateY($rotationY + $blur-deviation) rotateX($rotationX + $blur-deviation);
}

.realistic.blur2{
  transform: scale($scale,$scale) perspective($perspective) rotateY($rotationY - $blur-deviation) rotateX($rotationX - $blur-deviation) ;
}

.overlay{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:linear-gradient(transparentize(#eee,0.7),transparentize(#eee,1));
  z-index:99;
  pointer-events:none; 
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  float: left;
  padding-left: 50%;
  padding-top: 30px;
}

.gallery-item .thumbnail {
  border: 5px solid #fff;
  width:  260px;
  height: 200px;
}

/* FOOTER NAVIGATION */

nav {
  background-color: #FFF;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}

.contact-btn {
  float: right;
}

.contact-btn a {
  position: relative;
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;

}

.contact-btn a:active {
top: 2px;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}
