

footer{

    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;

}

#background {
    margin-top: 60vh;
    margin-left: 12px;
    margin-right: 12px;
    width: 98%;
    height: 2400px;
    background-image: linear-gradient(#f1ecfc, #ecfbfc);
    z-index: -1000;
    position: absolute;
}


#about {
    z-index: 4;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-height: 100% !important;
    height: 100%;


    display: flex;
    flex-direction: column;
    justify-content: center;


}

#content {}

.header_text {
    text-align: justify;
}

.header_image img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#project_wrapper {
    position: absolute;
    margin-left: 24vw;

    margin-top: 60vh;
}

.project {
    width: 66vw;
    height: 400px;
    background-color: rgba(156, 120, 255, 0.03);
    margin: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 20px;


}

.project_text {
    display: flex;
    flex-direction: column;
    margin: 24px;
}