body {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #121212;
	height: 100vh;
}

.imageContainer {
	height: 680px;
	width: 380px;
	background: white;
	overflow: hidden;
	position: relative;
	
	.image1 {
		background-image: url('https://picsum.photos/380/780');
		height: 680px;
		width: 380px;
		position: absolute;
		top: 0;
		left: 0;
		transform: scale(1.25);
		transition: opacity .5s ease-in-out .125s, transform .5s ease-in-out .125s;
	}
	
	.image2 {
		background-image: url('https://picsum.photos/381/792');
		height: 680px;
		width: 380px;
		position: absolute;
		top: 0;
		left: 0;
		transition: opacity .5s ease-in-out .125s, transform .5s ease-in-out .125s;
	}
	
	&:hover {
		.image1 {
			transform: scale(1);
		}
		.image2 {
			transform: scale(1.25);
			opacity: 0;
		}
	}
}