.grid {
  display: flex;

  font-family: arial, sans-serif;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  width: 33%;
  height: 100vh;

  min-height: 500px;


}
.instrument_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly; 
  text-align: center;
  width: 67%;
  height: 100vh;
  max-height: 100vh;

}

#title_container{
  justify-content: center;
  text-align: center;
  font-size: 50px;

}

.scalenav_container{
  height: 66vh;
  z-index:2;


}

#autopilot_container{
  text-align: center;


}

#scale_navigator {
    

}

.selectbox_container{


}

.guitar_container{

  justify-content: center;
  text-align: center;
}



.piano_container{

  justify-content: center;
  text-align: center;

}

.flute_container{

  justify-content: center;
  text-align: center;

}

.notation_container{

  justify-content: center;
  text-align: center;

}

.chordstext_container{

  white-space: nowrap;
  justify-content: center;
  text-align: center;

}

.chordcircle_container{
  justify-content: right;
  max-height: 300px;
}

#circle24{
  right:0;
  width:100%; 
  max-height: 300px;
  justify-content: center;

}

.mandolin_container{

  justify-content: center;
  text-align: center;

}



select {
        height:20px;
}

form {

  transform: scale(2);
}



@media all and (orientation:portrait){
  
  .grid {
    flex-direction: column;  
  }
  
  .navigation {
    width: auto;
    height: 33vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start; 

  }

  #title_container{
    justify-content: center;
    text-align: center;
    font-size: 50px;
  }

  .scalenav_container{
    justify-content: center;
    height: 30vh;
    z-index:2;
  }

  #autopilot_container{
    text-align: center;
    padding-top: 1vh;
  }
  
  .instrument_area {
    background: #aa0000;
  }
  
}