.grid {
  display: flex;
  font-family: arial, sans-serif;
}

/** { border: 1px solid red; }*/

.xButton {
  top:0px;
  right:0px;
  position:absolute;
  font-size: 20pt;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  width: 33%;
  height: 100vh;
  min-height: 500px;


}
.instrument_area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 67%;
  height: 100vh;
  max-height: 100vh;


}

#title_container{
  justify-content: center;
  text-align: center;
  font-size: 50px;

}

.scalenav_container{
  height: 66vh;
  z-index:2;
  width:100%;


}

#autopilot_container{
  z-index:3;
  text-align: center;


}

#scale_navigator {
    

}

#selectbox_container{
  padding-top:2%;

}

#guitar_container{
  width: 100%;

  justify-content: center;
  text-align: center;

}



#piano_container{
  padding-top:5%;

  justify-content: center;
  text-align: center;
  width: 100%;

}

#flute_container{
  width: 100%;
  padding-top:5%;
  justify-content: center;
  text-align: center;

}

#notation_container{

  width: 100%;


}

#notation{}

#chordstext_container{

  width: 100%;
  position: relative;
  white-space: nowrap;
  justify-content: center;
  text-align: center;
  padding-top: 5%;' 

}

#chordcircle_container{

/*  max-height: 300px;
  width: 100%;*/
}

#circle24{
  padding-top: 5%;
  width:66%;
  height:66%; 
  justify-content: center;

}

.mandolin_container{
  width:100%;

  justify-content: center;
  text-align: center;

}



select {
        height:20px;
}

form {

  width:100%;

}



@media all and (orientation:portrait){
  
  .grid {
    flex-direction: column;  
  }
  
  .navigation {
    width: 100vw;
    height: 33vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding-bottom: 10px;

  }

  #title_container{
    justify-content: center;
    text-align: center;
    font-size: 50px;
  }

  .scalenav_container{
    justify-content: center;
    height: 30vh;
    z-index:2;
  }

  #autopilot_container{
    
    text-align: center;
    padding-bottom: 1px;
  }
  
  .instrument_area {
    position: relative;
    padding-top: 10px;
    justify-content: flex-start;

    width: 100vw;
    height: auto;
  }
  
}